.resume {
    display: block;
    text-align: left;
    background-color: #ffffff;
    font-family: 'Times New Roman', Times, serif;
    padding: 10px;
    margin: 10px;
}

.resume .header {
    background-color: aliceblue;
    padding: 10px;
    margin: 10px;
}

.resume .body {
    padding: 10px;
    margin: 10px;
}

.body .Work_Experience, .body .Education, .Education .Certifications, .body .Skills, .body .Languages, .body .EXTRACURRICULARS {
    padding: 2px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.line1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Center items */
    gap: 4ch; /* Minimum gap of 4 character spaces */
    padding: 2px;
    margin-top: 10px;
    margin-bottom: 10px;
}

/* For screens 1366px or wider */
@media (min-width: 1366px) {
    .line1 {
        justify-content: space-evenly; /* Distribute items evenly */
        gap: 4ch; /* Minimum gap of 4 character spaces */
    }
}

.line1 > div {
    flex: 1 1 auto; /* Allow items to grow and shrink as needed */
    min-width: 200px; /* Sets a minimum width for items */
    max-width: calc((100% - (10ch * 3)) / 4); /* Max width based on 10ch gap for 4 items */
    box-sizing: border-box; /* Ensures padding and border are included in the width */
}

.sname, .lname, .ename, .cname, .bname {
    font-weight: bold;
}

.resume a {
    color: #000000;
    text-decoration: none;
}

.footer {
    color: #ffffff;
    background-color: #630C63;
    margin: 10px;
    padding: 10px;
    text-align: center;
}

.footer #service {
    color: #ffffff;
}
