.resume {
    display: block;
    text-align: left;
    background-color: #ffffff;
    font-family: 'Times New Roman', Times, serif;
    padding: 10px;
    margin: 10px;
}

.resume .header {
    background-color: aliceblue;
    padding: 10px;
    margin: 10px;
}

.resume .body {
    padding: 10px;
    margin: 10px;
}

.body .Work_Experience, .body .Education, .Education .Certifications, .body .Skills, .body .Languages, .body .EXTRACURRICULARS {
    padding: 2px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.line1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; /* Ensures there is space between items */
    gap: 4ch; /* Adds a minimum gap of 4 character spaces between items */
    padding: 2px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.sname, .lname, .ename, .cname, .bname {
    font-weight: bold;
}

.resume a {
    color: #000000;
    text-decoration: none;
}

.footer {
    color: #ffffff;
    background-color: #630C63;
    margin: 10px;
    padding: 10px;
    text-align: center;
}

.footer #service {
    color: #ffffff;
}
